body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: black;
  color: white;
  font-family: 'Nunito', sans-serif; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #ff414e;
  border-radius: 10px; }

.justify-flex-start {
  justify-content: flex-start !important; }

.heading-primary {
  font-size: 5rem;
  color: #ff414e;
  font-family: "Fjalla One", sans-serif; }

.header {
  display: none;
  margin-top: 3rem;
  font-size: 0.8rem;
  padding: 0 3rem;
  z-index: 100; }
  .header ul {
    padding: 0;
    margin: 0; }
  .header li {
    list-style-type: none; }
  .header-1 {
    float: left;
    position: fixed;
    left: 3rem;
    width: 10%; }
  .header-2 {
    float: left;
    font-size: 1.2rem;
    position: relative;
    left: calc(25%); }
  .header-3 {
    width: 10%;
    float: left;
    position: fixed;
    left: calc(70%); }
  .header-4 {
    float: right;
    position: fixed;
    right: 3rem; }

.section-2 {
  height: 100vh; }

.p-s-3 {
  padding: 0 3rem; }

.section-header {
  font-family: "Fjalla One", sans-serif;
  color: #ff414e;
  font-size: 3vw;
  margin: 3rem; }
  .section-header span {
    color: white; }

.section-3 {
  position: relative;
  height: 100vh; }
  .section-3 .image-container {
    height: 100vh;
    margin-left: 25%;
    background-image: url(../assets/images/bg-removebg-preview.png);
    width: 40%;
    background-position: center top;
    background-size: cover; }
  .section-3 .text-container {
    position: absolute;
    top: 20%;
    word-spacing: 3rem;
    white-space: nowrap;
    z-index: -2; }
  .section-3 .marq {
    font-family: "Fjalla One", sans-serif;
    color: #ff414e;
    font-size: 10.1vw;
    letter-spacing: 0.4rem;
    text-transform: uppercase; }

.section-company {
  position: relative; }
  .section-company .heading-primary {
    text-align: end; }
  .section-company .work-label {
    font-family: "Fjalla One", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    position: absolute;
    right: 20%;
    top: -5rem; }
    .section-company .work-label .hollow-text {
      color: #ff414e; }
  .section-company .company {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px; }
    .section-company .company .company-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;
      margin-bottom: 2rem; }
    .section-company .company .duration-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #ff414e;
      font-size: 2rem;
      width: 40%; }
      .section-company .company .duration-section .date {
        font-family: "Fjalla One", sans-serif;
        font-size: 1.2rem;
        display: block;
        width: 100%; }
      .section-company .company .duration-section .description {
        font-size: 1.5rem;
        color: white;
        margin-top: 2rem; }
    .section-company .company .image-section {
      width: 30%;
      display: flex;
      background-position: center;
      background-size: cover;
      width: 25rem;
      height: 30rem;
      font-size: 2rem;
      position: relative; }
    .section-company .company .company-1::after, .section-company .company .company-2::after, .section-company .company .company-3::after {
      position: absolute;
      color: #ff414e;
      letter-spacing: 5px;
      font-family: "Fjalla One", sans-serif;
      background-color: black;
      padding: 15px; }
    .section-company .company .company-1 {
      background-image: url("../assets/images/computer1.gif"); }
      .section-company .company .company-1::after {
        content: "Amdocs Technologies";
        position: absolute;
        top: 20%;
        right: 0;
        transform: translateY(-50%) translateX(50%); }
    .section-company .company .company-2 {
      background-image: url("../assets/images/computer2.gif");
      align-self: flex-end; }
      .section-company .company .company-2::after {
        content: "Worldwide Softwares";
        position: absolute;
        top: 20%;
        left: 0;
        transform: translateY(-50%) translateX(-50%); }
    .section-company .company .company-3 {
      background-image: url("../assets/images/computer3.gif"); }
      .section-company .company .company-3::after {
        content: "Codezilla Technologies";
        position: absolute;
        top: 20%;
        right: 0;
        transform: translateY(-50%) translateX(50%); }

.section-contact {
  padding: 40px; }
  .section-contact .contact-text {
    font-size: 1.2rem; }
  .section-contact .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .section-contact .contact-image {
    width: 30rem; }
  .section-contact .contact-label {
    float: left;
    font-family: "Fjalla One", sans-serif;
    font-size: 7rem;
    font-weight: 900;
    margin-left: 10%;
    width: 30%; }
    .section-contact .contact-label .hollow-text {
      color: #ff414e; }
  .section-contact .contact-form {
    font-size: 2rem;
    float: left;
    position: relative;
    padding: 3rem;
    margin-top: 6rem; }
    .section-contact .contact-form .contact-email {
      color: #ff414e; }

.button-container {
  padding: 1.5rem;
  font-size: 1.2rem;
  font-family: "Fjalla One", sans-serif;
  width: 7rem;
  overflow: hidden;
  position: relative;
  color: #ff414e;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  margin-top: 2rem; }

.plane {
  position: absolute;
  left: -100%;
  /* top: 50%; */
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.46, 0.01, 1, 0.4);
  user-select: none;
  background-color: #ff414e;
  color: white;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.button-container::after {
  content: 'Projects \2192';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.46, 0.01, 1, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%; }

.button-container:hover:after {
  transform: translate(150%, -50%);
  /* transition: all .5s; */ }

.button-container:hover .plane {
  left: 0%;
  /* transform: translateX(-80%); */
  /* background-color: yellow; */ }
